nav {
  background: #111827;
  padding: 18px 20px;
  color: #fff;
  margin-bottom: 25px;
}

.nav-container {
  max-width: 100%;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: 800;
}

.links {
  font-weight: 600;
}

.links a {
  cursor: pointer;
  padding-right: 25px;
}

.active {
  color: #0ea5e9;
}

.btn-switch {
  border: none;
  padding: 4px 5px;
  font-weight: 600;
}
